<h1>Create a new landmark:</h1><br>
<form method="POST" action="/landmarks">
  <h2>Name: <input type="text" name="landmark[name]" id="landmark_name"></h2><br>
  <h2>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></h2><br>

  <input type="submit" value="Create New Landmark">
</form>
